@import url('../vendor/normalize.css');

@font-face {
    font-family: "CupraBook";
    src: url("../vendor/fonts/Cupra-Book.woff2")format("woff2"),
            url("../vendor/fonts/Cupra-Book.woff")format("woff"),
            url("../vendor/fonts/Cupra-Book.eot")format('eot'),
            url("../vendor/fonts/Cupra-Book.ttf")format('ttf');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: "CupraBook";
    src: url("../vendor/fonts/Cupra-Medium.woff2")format("woff2"),
    url("../vendor/fonts/Cupra-Medium.woff")format("woff"),
    url("../vendor/fonts/Cupra-Medium.eot")format('eot'),
    url("../vendor/fonts/Cupra-Medium.ttf")format('ttf');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'CupraBook';
    src: url("../vendor/fonts/Cupra-Bold.woff2")format("woff2"),
    url("../vendor/fonts/Cupra-Bold.woff")format("woff"),
    url("../vendor/fonts/Cupra-Bold.eot")format('eot'),
    url("../vendor/fonts/Cupra-Bold.ttf")format('ttf');
       font-weight: bold;
    font-style: normal;
    
}


* {
    padding: 0;
    margin: 0;
  }


html, body {
    width: 100%;
    background: white;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: "CupraBook";
}


.phone {
    position: relative;
    height: 621px;
    width: 361px;
    display: flex;
    justify-content: center;
    top: 10%;
}



.phone__media {
    height: 621px;
    width: 361px;
    position: relative;
}

div {
    position: absolute;
  }

.content {
    width: 320px;
    height: 480px;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 11.5%;
    margin: auto;
    background-color: white;
}



.slider  {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: 1s ease;
    
}

.showing {
    opacity: 1;
    z-index: 2;
}


.logo {
    background: url('../img/SliderOne/CUPRA_2020_COPPER_horizontal.png')  no-repeat;
    background-size: contain;
    width: 148px;
    height: 32px;
    top: 9px;
    left: 25px;

    
} 

.imgCar {
    background: url('../img/SliderOne/IMG.png') no-repeat;
    width: 295px;
    height: 200px;
    top: 50.5px;
    left: 25.5px;
}

.textOne {
    background: url('../img/SliderOne/e-HYBRID.svg') no-repeat;
    width: 264px ;
    height: 36px ;
    top: 263px;
    left: 24.5px;
}

.textTwo {
    background: url('../img/SliderOne/SPORTLICHE.svg') no-repeat;
    width: 243px;
    height: 25px;
    top: 319px;
    left: 24.5px;
    font-weight: normal;
    
}

.buttonSlider {
    background: url('../img/SliderOne/buttonMehr.svg') no-repeat;
    width: 144px;
    height: 36px;
    top: 381px;
    left: 25.5px;
    cursor: pointer;
    border-bottom: none;
}

.lowText {
    background: url('../img/SliderOne/DAT-Hinweis.svg') no-repeat;
    width: 240px ;
    height: 25px ;
    top: 433px;
    left: 26.5px;
    cursor: pointer;
    
}

/*Slider 2*/

.imgCarTwo {
    background: url('../img/SliderTwo/IMG.png') no-repeat;
    width: 295px;
    height: 200px;
    top: 50.5px;
    left: 25.5px;
}

.textTwoTwo {
    background: url('../img/SliderTwo/PartTwo.svg') no-repeat;
    width: 243px;
    height: 48px;
    top: 319px;
    left: 24.5px;
    
}

/*Slider 3*/


.textOneThree {
    background: url('../img/SliderThree/PartThree.svg') no-repeat;
    width: 279px;
    height: 107px;
    top: 263px;
    left: 24.5px;
    
}

/*Popup*/

.popup {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;
    display: none;
}

.openPopUp {
    display: block;
}

.textPopup {
    background: url('../img/popup/FREEDOM.svg') no-repeat;
    width: 219px;
    height: 189px ;
    top: 145.9px;
    left: 50.5px;
    
}

.buttonClose {
    background: url('../img/popup/X.svg') no-repeat;
    width: 12px;
    height: 22px;
    top: 15px;
    left: 266px;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    body {
      align-items: center;
      justify-content: center;
      background-color: white;
      
    }
    .phone__media {
      display: none;
    }
    .content {
      top: 0;
      left: 0;
    }
    .phone {
      width: 321px;
      height: 481px;
      top: 0;
      left: 0;
    }
  }