@import url('../vendor/normalize.css');


* {
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family:"Cupra-Book, Cupra";
    src: url("../vendor/fonts/font/Cupra-Book.woff2") format("woff2");
    src: url("../vendor/fonts/font/Cupra-Book.woff") format("woff");
    src: url('../vendor/fonts/font/Cupra-Book.eot') format('eot');
    
}
@font-face {
    font-family:"Cupra-Book, Cupra";
    src: url("../vendor/fonts/font/Cupra-Medium.woff2") format("woff2");
    src: url("../vendor/fonts/font/Cupra-Medium.woff") format("woff");
    src: url('../vendor/fonts/font/Cupra-Medium.eot') format('eot');
    
}
@font-face {
    font-family:"Cupra-Book, Cupra";
    src: url("../vendor/fonts/font/Cupra-Bold.woff2") format("woff2");
    src: url("../vendor/fonts/font/Cupra-Bold.woff") format("woff");
    src: url('../vendor/fonts/font/Cupra-Bold.eot') format('eot');
    
}

html, body {
    width: 100%;
    background: white;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family:"Cupra-Book, Cupra";
}

.phone {
    position: relative;
    height: 621px;
    width: 361px;
    display: flex;
    justify-content: center;
    top: 10%;
}



.phone__media {
    height: 621px;
    width: 361px;
    position: relative;
}

div {
    position: absolute;
  }

.content {
    width: 320px;
    height: 480px;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 11.5%;
    margin: auto;
    background-color: white;
    font-family:"Cupra-Book, Cupra";
}



.slider  {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: 1s ease;
    
}

.showing {
    opacity: 1;
    z-index: 2;
}


.logo {
    background: url('../img/SliderOne/CUPRA_2020_COPPER_horizontal.svg')  no-repeat;
    background-size: contain;
    width: 148px;
    height: 32px;
    top: 9px;
    left: 25px;

    
} 

.imgCar {
    background: url('../img/SliderOne/IMG.svg') no-repeat;
    width: 295px;
    height: 200px;
    top: 50.5px;
    left: 25.5px;
}

.textOne {
    background: url('../img/SliderOne/TheNEW.svg');
    width: 264px ;
    height: 36px ;
    top: 263px;
    left: 24.5px;
    font-family:"Cupra-Book, Cupra";
}

.textTwo {
    background: url('../img/SliderOne/Part.svg');
    width: 243px;
    height: 25px;
    top: 319px;
    left: 24.5px;
    font-family:"Cupra-Book, Cupra";
}

.buttonSlider {
    background: url('../img/SliderOne/CTA.svg');
    width: 144px;
    height: 36px;
    top: 381px;
    left: 25.5px;
    cursor: pointer;
    border-bottom: none;
}

.lowText {
    background: url('../img/SliderOne/Legals.svg');
    width: 220px ;
    height: 25px ;
    top: 433px;
    left: 26.5px;
    cursor: pointer;
    font-family:"Cupra-Book, Cupra";
}

/*Slider 2*/

.imgCarTwo {
    background: url('../img/SliderTwo/IMG.svg') no-repeat;
    width: 295px;
    height: 200px;
    top: 50.5px;
    left: 25.5px;
}

.textTwoTwo {
    background: url('../img/SliderTwo/PartTwo.svg');
    width: 243px;
    height: 48px;
    top: 319px;
    left: 24.5px;
    font-family:"Cupra-Book, Cupra";
}

/*Slider 3*/


.textOneThree {
    background: url('../img/SliderThree/PartThree.svg');
    width: 279px;
    height: 107px;
    top: 263px;
    left: 24.5px;
    font-family:"Cupra-Book, Cupra";
}

/*Popup*/

.popup {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;
    display: none;
}

.openPopUp {
    display: block;
}

.textPopup {
    background: url('../img/popup/FREEDOM.svg');
    width: 219px;
    height: 189px ;
    top: 145.9px;
    left: 50.5px;
    font-family:"Cupra-Book, Cupra";
}

.buttonClose {
    background: url('../img/popup/X.svg');
    width: 12px;
    height: 22px;
    top: 15px;
    left: 266px;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    body {
      align-items: center;
      justify-content: center;
      background-color: white;
      font-family:"Cupra-Book, Cupra";
    }
    .phone__media {
      display: none;
    }
    .content {
      top: 0;
      left: 0;
    }
    .phone {
      width: 321px;
      height: 481px;
      top: 0;
      left: 0;
    }
  }